@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-white bg-fixed dark:bg-[#16161B];
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.new-item {
  background-color: yellow;
  transition: background-color 500ms ease-out;
}

.object-key {
  @apply !text-green-700 dark:!text-green-500;
}
